<div class="interactive-outer river">
    <div id="outer-wrapper" class="showcase">
			<div class="row">

			<div class='figureTitle' id="chartTitle">2022 floods: river height v historical heights</div>
			<div class='subTitle' id="subTitle">Showing the daily maximum river height for 2022 overlaid with heights from previous years. Hover or tap lines to highlight other years</div>
			<div class='notes' id='chartKey'>
				Currently showing: <select id="riverSelector"></select>	
			</div>
			
			</div>
			<div class="row borderBottom chartSans" id="graphicContainer">	
				<div id="loadingContainer">Loading...</div>
			</div>
			<div class='footer offset'>
				<div id="footerAnnotations">

				</div>	
				
				<span id="footnote"></span> Guardian graphic <span id="sourceText"> | <a href="https://realtimedata.waternsw.com.au/" target="_blank">WaterNSW</a></span>
			</div>	
			
	</div>
</div>