<div class="interactive-outer rainfall">
    <div id="outer-wrapper" class="showcase">
			<div class="row">

			<div class='figureTitle' id="chartTitle">Eastern Australia's wet 2022: cumulative rainfall v long term averages</div>
			<div class='subTitle' id="subTitle">Showing daily cumulative rainfall for 2022 v the median, 1st percentile (extremely dry), 10th percentile (very dry), 90th percentile (very wet), and 99th percentile (extremely wet) of historic daily cumulative rainfall values. Historical data is from <span id="yearsNote">1900 to 2021</span>. Last updated 8 April 2022</div>
			<div class='notes' id='chartKey'>
				<b>Currently showing:</b> <select id="rainSelector"></select>	
			</div>
			
			</div>
			<div class="row borderBottom chartSans" id="graphicContainer">	
					<div id="loadingContainer">Loading...</div>
			</div>
			<div class='footer offset'>
				<div id="footerAnnotations">

				</div>	
				
				<span id="footnote"></span> Guardian graphic <span id="sourceText"> | Bureau of Meteorology</span>
			</div>	
			
	</div>
</div>