<div class="interactive-wrapper rain">
    <div id="outer-wrapper" class="showcase">
			<div class="row">

			<div class='figureTitle' id="chartTitle">Eastern Australia's wet 2022: daily rainfall v historical rainfall</div>
			<div class='subTitle' id="subTitle">Showing daily rainfall totals for 2022 overlaid with values from previous years. Hover or tap lines to highlight other years</div>
			<div class='notes' id='chartKey'>
				Currently showing: <select id="rainSelector"></select>	
			</div>
			
			</div>
			<div class="row borderBottom chartSans" id="graphicContainer">	
				<!-- <div id="counter">1900</div>	 -->
			</div>
			<div class='footer offset'>
				<div id="footerAnnotations">

				</div>	
				
				<span id="footnote">Combines BoM stations 66214 and 066062</span> Guardian graphic <span id="sourceText">| Source: Bureau of Meteorology</span>
			</div>	
			
	</div>
</div>